tmp
yarn.lock
locallinks
notation_demos
*.d.ts
notation_config
app.js
*.js.map
cli
src/**/*.js
tests/*.js
coverage
.DS_Store
node_modules
npm-debug.log
dist
package-lock.json
*.swp
*.swo
*.pyc
.project

.settings
tsdocs
.classpath
.gradle
.idea
*.iml
*.ipr
*.iws
*.egg-info
/build
*/build
out/
*/bin/
samples/gen
.cache
*.code-workspace
