<!-- templates/HomePage.html -->
{{# include "BasePage.html" #}}
{{# include "DocumentList.html" #}}

{{ define "BodySection" }}
  <!-- Main Content Area -->
  <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
      <!-- Document List Block -->
      <!-- The server renders the initial content of DocumentList here -->
      <div id="document-list-container">
        {{ template "DocumentList" . }}
      </div>
  </main>
 </div>
{{ end }}

{{ define "HomePage" }}
{{ template "BasePage" . }}
{{ end }}

